 .pageHeader{
    text-align: center;
    color: black;
    margin: 20px 10px 0px;
    padding: 0px 30px 0px 30px;
}
 
 .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }

.shop  {
    flex-basis: 25%;
    border: 5px black dotted;
    padding: 0.5em;
    margin: 0.1em;
    text-align: center;
    color: darkslategray;
}
body {
    background-color: lightblue;
}